:root {
  --main-compliment-color: #9f95a99e;
  --hover-color: #e7e0ff;
}

* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#game {
  box-sizing: border-box;
  margin: 2vw 2vw;
  max-width: 100vw;
}

@media (min-width: 480px) {
  #game {
    margin: 2vw 20vw;
  }
}

/* //////// header & welcome /////////// */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

.menu:hover {
  cursor: pointer;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 15px 0;
  text-align: center;
}

.create-your-own {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 1vh;
}

/* //////// headers /////////// */
h1 {
  font-size: 2.3rem;
  font-weight: 200;
}

h2 {
  margin: .5rem 0 1.5rem 0;
}

hr {
  margin: 20px 0;
}

/* //////// guess stuff /////////// */
.guess {
  display: flex;
  /* flex-flow: row wrap; */
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
  margin: 50px 10px 0 10px;
}

#dialog-failure{
  text-align: center;
}

/* //////// forms & generated image /////////// */
form, copy-custom-url-form {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#generate-image-form {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  min-width: 30px;
  padding: 3px;
  margin: .5rem 0;
}

#album-guess, #generated-link {
  width: 80%;
  min-width: 30px;
  padding: 3px;
  border-radius: 0;
  border: 1px solid black;
  border-right: none;
}

#generated-link {
  margin-top: 20px;
}

#generated-img-url{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#copy-custom-url {
  font-family: monospace;
}

#generated-image{
  box-sizing: border-box;
  display: flex;
  padding: 2vh 2vh;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#copy-custom-url-form {
  width: 100%;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* //////// the album cover! /////////// */
#canvas {
  box-sizing: border-box;
  display: flex;
  padding: 2vh 2vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  margin: auto;
}

@media (min-width: 480px) {
  #canvas {
    width: 80%;
  }
}

/* //////// modal related /////////// */
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15vh;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  overflow-y: auto;
  max-height: 80%;
}

.modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.modal-container {
  border-radius: 10px;
  border-style: dotted;
  background: #fff;
  position: relative;
  padding: 23px;
  margin: 15px;
  width: 90vw;
}

@media (min-width: 480px) {
  .modal-container {
    width: 50vw;
  }
}

#modal-container-win {
  text-align: center;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  appearance: none;
  color: red;
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

.blur {
  filter: blur(10px);
}

/* //////// success modal /////////// */
#trivia {
  font-size: 1rem;
  font-weight: 100;
}

#dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

/* //////// how-to modal /////////// */
ul {
  margin: 15px 0 15px 15px;
}

/* //////// settings modal /////////// */
#admin {
  margin: 25px 0;
}

#difficulty {
  margin-left: 20px;
}

#clear-state {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px 0;
  width: 100%;
}

@media (min-width: 480px) {
  #clear-state {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
  }
}

/* //////// buttons /////////// */
button {
  padding: 3px;
  color: #333;
  box-shadow: 3px 3px var(--main-compliment-color);
  border: 1px solid black;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-color);
}

button:active {
  box-shadow: 1px 1px #666;
  transform: translateY(4px);
}

#album-guess-btn:hover {
  background-color: var(--hover-color);
}

#album-guess-btn:active {
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
}

#copy-button{
  width: 16%;
  box-shadow: none;
}

#copy-button:active{
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
  box-shadow: none;
  transform: none;
}


#album-guess-btn {
  width: auto;
  max-width: 90px;
  min-width: 20px;
  border-radius: 0%;
  border: 1px solid black;
  cursor: pointer;
}

#hint-btn {
  width: auto;
  max-width: 90px;
  min-width: 20px;
  border-radius: 0%;
  border: 1px solid black;
  cursor: pointer;
}

/* //////// footer /////////// */
footer {
  text-align: center;
  margin: 20px 0;
  padding: 3px;
}
